/* GLOBAL STYLES */
html { 
    overflow-y: hidden; 
}

body {
    background-color: hsl(30, 38%, 92%);
    margin: 0 auto;
}

h1 {
    font-weight: 665;
}


/* TYPOGRAPHY */
.perfume-text { 
    margin: 5px 0 -20px 0;
    letter-spacing: 12px;
    font-weight: 450;
}

.perfume-paragraph,
.attribution {
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}

.par { 
    margin-right: 30px;
}

.perfume-description {
    font-family: Fraunces;
    background-color: white;
    padding: 40px;
}

.price-mod {
    text-decoration: line-through;
}

.h1-price {
    color: hsl(158, 36%, 37%);
}

.attribution { 
    text-align: center;
    margin: 10px 10px;
}

a {
    text-decoration: none;
    color: hsl(228, 12%, 48%);
}


/* FLEXBOX STYLING */
.container { 
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.price {
    display: flex;
}

.price h1 {
    margin-right: 50px;
}

.price p {
    margin: auto 0;
}

.cart { 
    display: flex; 
    flex-direction: row;
}

button { 
    font-family: Montserrat;
    font-size: 1.7rem;
    font-weight: 550;

    width: 98%;
    margin: 0 auto;
    height: 90px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 15px;
}

button:hover { 
    cursor: pointer;
}

.cart-icon { 
    min-width: 5%;
    max-width: 5%; 
    margin-right: 15px;
    margin-bottom: -5px;
}

/* WIDTH-SPECIFIC STYLES */

@media (max-width: 600px) {
    /* FLEXBOX STYLING */
    .perfume-desktop {
        display: none;
    }

    .container {
        flex-direction: column;
        width: 90%;
        margin-top: 40px;
    }

    .perfume-description {
        margin-top: -10px;
        min-width: 606px;
        max-width: 606px;
        border-radius: 0 0 15px 15px;
    }

    .perfume { 
        border-radius: 15px 15px 0 0;
    }

    /* TYPOGRAPHY */
    h1 {
        line-height: 1;
        font-size: 4rem;
    }
    
    p { 
        line-height: 1.5;
        font-size: 1.7em;
    }
    
    .perfume-text {
        font-size: 1.3em;
    }

}

@media (min-width: 601px) {
    /* FLEXBOX STYLING */
    .perfume-mobile {
        display: none;
    } 

    .container {
        flex-direction: row;
        justify-content: center;
        margin: auto auto;
        margin-top: -200px;
    }

    .perfume-desktop { 
        width: 478px;
    }

    .perfume-description { 
        border-radius: 0 15px 15px 0;
        width: 398px; 
        height: 641px
    }

    .perfume { 
        border-radius: 15px 0 0 15px;
    }

    /* TYPOGRAPHY */
    .perfume-text { 
        margin-bottom: 30px;
        font-size: 1rem;
    }

    h1 {
        line-height: 1;
        font-size: 3rem;
        margin-right: 60px;
    }

    p { 
        line-height: 1.5;
        font-size: 1.3em;
    }

    .price { 
        margin-top: 40px;
    }

    button { 
        margin-top: 20px;
    }
}
