/* GLOBAL STYLES */
html { 
    overflow-y: hidden;
    overflow-x: hidden;
}

body {
    background-color: hsl(30, 38%, 92%);
    margin: 0;
}

h1 {
    font-weight: 665;
}


/* TYPOGRAPHY */
.perfume-text { 
    margin: 5px 0 -20px 0;
    letter-spacing: 12px;
    font-weight: 450;
}

.perfume-paragraph,
.attribution {
    font-family: Montserrat;
    color: hsl(228, 12%, 48%);
}

.par { 
    margin-right: 30px;
}

.perfume-description {
    font-family: Fraunces;
    background-color: white;
    padding: 40px;
}

.price-mod {
    text-decoration: line-through;
}

.h1-price {
    color: hsl(158, 36%, 37%);
}

.attribution { 
    text-align: center;
    margin: 10px 10px;
}

a {
    text-decoration: none;
    color: hsl(228, 12%, 48%);
}


/* FLEXBOX STYLING */
.container { 
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.price {
    display: flex;
}

.price h1 {
    margin-right: 50px;
}

.price p {
    margin: auto 0;
}

.cart { 
    display: flex; 
    flex-direction: row;
}

button { 
    font-family: Montserrat;
    font-size: 1.7rem;
    font-weight: 550;

    width: 98%;
    margin: 0 auto;
    height: 90px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    border-radius: 15px;
}

button:hover { 
    cursor: pointer;
}

.cart-icon { 
    min-width: 5%;
    max-width: 5%; 
    margin-right: 15px;
    margin-bottom: -5px;
}

/* WIDTH-SPECIFIC STYLES */


/* WIDTH-SPECIFIC STYLES */

@media (min-width: 401px) and (max-width: 1000px) {
    /* FLEXBOX STYLING */
    .perfume-desktop {
        display: none;
    }

    .container {
        flex-direction: column;
        width: 90%;
        margin-top: 40px;
    }

    .perfume-description {
        margin-top: -10px;
        min-width: 606px;
        max-width: 606px;
        border-radius: 0 0 15px 15px;
    }

    .perfume { 
        border-radius: 15px 15px 0 0;
    }

    /* TYPOGRAPHY */
    h1 {
        line-height: 1;
        font-size: 4rem;
    }
    
    p { 
        line-height: 1.5;
        font-size: 1.7em;
    }
    
    .perfume-text {
        font-size: 1.3em;
    }

}

@media (min-width: 1001px) {
    /* FLEXBOX STYLING */
    .perfume-mobile {
        display: none;
    } 

    .container {
        flex-direction: row;
        justify-content: center;
        margin: 100px auto;
    }

    .perfume-desktop { 
        width: 478px;
    }

    .perfume-description { 
        border-radius: 0 15px 15px 0;
        width: 398px; 
        height: 641px
    }

    .perfume { 
        border-radius: 15px 0 0 15px;
    }

    /* TYPOGRAPHY */
    .perfume-text { 
        margin-bottom: 30px;
        font-size: 1rem;
    }

    h1 {
        line-height: 1;
        font-size: 3rem;
        margin-right: 60px;
    }

    p { 
        line-height: 1.5;
        font-size: 1.3em;
    }

    .price { 
        margin-top: 40px;
    }

    button { 
        margin-top: 20px;
    }
}

@media (max-width: 400px) {
    html {
        overflow-x: hidden;
    }

    /* FLEXBOX STYLING */
    .perfume-desktop {
        display: none;
    }

    .container {
        flex-direction: column;
        width: 300px;
        margin-top: 40px;
    }

    .perfume-description {
        margin-top: -10px;
        max-width: 230px;
        border-radius: 0 0 15px 15px;
        padding: 10px 20px 30px 20px;
    }

    .perfume { 
        border-radius: 15px 15px 0 0;
        width: 270px;
    }

    /* TYPOGRAPHY */
    h1 {
        line-height: 1;
        font-size: 1.5rem;
        margin: 30px 0 0 -2px;
    }
    
    p,
    .attribution { 
        line-height: 1.5;
        font-size: 0.9rem;
    }
    
    .perfume-text {
        font-size: 0.9rem;
    }

    .h1-price,
    .price-mod {
       margin: 10px 0 15px 0;
    }

    button {
        font-family: Montserrat;
        font-size: 1rem;
        font-weight: 550; 

        height: 50px;
        width: 95%;
        border-radius: 10px;
    }

    .cart-icon {
        max-width: 30%;
        margin-bottom: -3px;
    }

}
